
*.ini
*.bin
GoTLegends 4.21/Saved/Logs/GoTLegends.log
GoTLegends 4.21/Saved/Logs/GoTLegends_2.log
GoTLegends 4.21/Saved/Backup/Floor_400x400_2019-05-07-22-35-47.uasset
GoTLegends 4.21/Saved/Autosaves/PackageRestoreData.json
GoTLegends 4.21/Content/MobileStarterContent/Architecture/Floor_400x400.uasset
GoTLegends 4.21/Content/MobileStarterContent/Architecture/Floor_400x400.uasset
